.App h1 {
  font-size: 38px;
}

.App h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.App p {
  text-align: center;
}

.App .weather-app-wrapper {
  margin: 30px auto;
  max-width: 55%;
  line-height: 1.5;
  display: block;
}

.App .weather-app {
  border: 0.5px solid #2e2c4c;
  border-radius: 20px;
  background-image: url(https://image.freepik.com/free-photo/abstract-background-twilight-sky-background-pink-gradient-tone-color_63313-152.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  margin: 10px;
  font-family: "Noto Sans JP", sans-serif;
  color: #2e2c4c;
  box-shadow: 7px 5px 5px -2px rgba(0, 0, 0, 0.23);
}

.App .clearfix img {
  margin-right: 15px;
  height: 64px; 
  width: 64px;

}

.App .units {
  position: relative;
  top: -32px;
}

.App .today-weather-temp {
  font-size: 64px;
  line-height: 64px;
  
}

.App .box {
  padding: 10px;
}


